<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title> 
    <link rel="stylesheet" href="/adminPanel.css" type="text/css">
</head>
<body>
    <div class="container">
        <header class="header-main">
            <div class="header__first-section">
                <a href="./accounts?admin=true123">Konta</a>
                <a href="./steps?admin=true123">Kroki</a>
                <a href="./stepsthresholds?admin=true123">Progi kroków</a>
            </div>
            <div class="header__second-section">
                <h1>Admin Panel</h1>
            </div>
        </header>
        <main>
            <h1>Admin Panel</h1>
        </main>
    </div>
</body>
</html>